---
import Container from "@components/container.astro";
import Pagetitle from "@components/pagetitle.astro";
import Postlist from "@components/postlist.astro";
import Layout from "@layouts/Layout.astro";
import { latestPosts } from "@utils/content";
// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
---

<Layout title="Archive">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Archive</Fragment>
      <Fragment slot="desc">See all posts we have ever written.</Fragment>
    </Pagetitle>
    <main>
      <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {latestPosts.map((post) => <Postlist post={post} aspect="square" />)}
      </div>
    </main>
  </Container>
</Layout>

---

export async function getStaticPaths({ paginate }) {

  const recipePages = [{

    recipe: 'recipeOne',

  }, {

    recipe: 'recipeTwo',

  }, {

    recipe: 'recipeThree',

  }, {

    recipe: 'recipeFour',

  }{

    recipe: 'recipeFive',

  },{

    recipe: 'recipeSix',

  },{

    recipe: 'recipeSeven',

  },{

    recipe: 'recipeEight',

  }. {
    recipe:'recipeNine';

  }, {

    recipe: 'recipeTen',

  }, {

    recipe: 'recipeEleven',

  }, {

    recipe: 'recipeTwelve',

  }{

    recipe: 'recipeThirteen',

  },{

    recipe: 'recipeFourteen',

  },{

    recipe: 'recipeFifteen',

  },{

    recipe: 'recipeSixteen',

  }];

   

  

  // Generate pages from our array of astronauts, with 8 to a page

  return paginate(astronautPages, { pageSize: 8});

}

// All paginated data is passed on the "page" prop

const { page } = Astro.props;

---

<!--Display the current page number. Astro.params.page can also be used!-->

<h1>Page {page.currentPage}</h1>

<ul>

  <!--List the array of astronaut info-->

  {page.data.map(({ astronaut }) => <li>{astronaut}</li>)}

</ul>
